<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<form>
  <div class="container mt-5">
   <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th colspan="2">action</th>
      </tr>
    </thead>
    <tbody>
      {% for k in log %}
      <tr>
        <td>{{k.Name}}</td>
        <td>{{k.Email}}</td>
        <td>{{k.Password}}</td>
      </tr>
     {% endfor %}
    </tbody>
  </table>

</div>
<div class="container">
<div class="btn btn-success">
<a href="{{url_for('homeworkData')}}">Add new data</a></div>
</body>
</html>
