<!DOCTYPE html>
<html>
<head>
	<title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  
  <div class="container-fluid">
    <div class="navbar-header"
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
      </li>
       <li class="nav-item"> 
       <a class="nav-link" href="{{url_for('showData')}}">Data</a></li>
       <li class="nav-item"> 
       <a  class="nav-link" href="{{url_for('regpage')}}">Register</a></li>
       {% if current_user.is_authenticated %}
       <li class="nav-item">
       <a class="nav-link" href="{{url_for('account')}}">AccountName</a></li>
       <li class="nav-item">
       <a class="nav-link" href="{{url_for('logout')}}">Logout</a></li>
       {% else %}
       <li class="nav-item">
       <a class="nav-link" href="{{url_for('loginPage')}}">login</a></li>
       {% endif %}
    </ul>
    <div align="right" style="color:white;padding.top:20px;border-top-width:20px;">
      Accountname:{{ current_user.name}}
  </div>
</nav>
</body>
</html>